nav{
  position: fixed;
  .nav-wrapper{
    padding: 0px 50px;
    ul{
      li{
        a{
          display: flex;
          align-items: center;
          img{
            width: 64px;
            margin-right: 10px;
          }
        }

      }
    }
  }
}
main{
  padding: 50px;
  .menu{
    ul{
      position: fixed;

      li{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin: 10px;
        gap: 10px;
        height: fit-content;
        transition: 0.4s all ;
        &:hover{
          background-color: rgb(220, 243, 252);
          border-radius: 5px;
        }
        &.active{
          background-color: rgb(220, 243, 252);
          border-radius: 5px;
        }
        i{
          color: rgb(13, 106, 180);
          font-size: 20px;
        }
        a{
          color: rgb(13, 106, 180);
          font-weight: 600;
          span.badge{
            background-color: rgb(13, 106, 180);
          }
        }
      }
    }
  }
  .block{
    .topInBlock{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .search{
        display: flex;
        align-items: center;
        gap: 20px;
        input{
          width: 250px;
        }
        input::placeholder{
          padding: 10px;
        }
        i{
          font-size: 15px;
        }
      }
    }
    .people{
      display: flex;
      flex-direction: column;
      gap: 30px;
      .row{
        margin: 0;
        padding: 0;
        padding: 10px;
        display: flex;
        height: fit-content;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-radius: 10px;
        box-shadow: 0px 6px 9px 0px rgba(0,0,0,0.29);

        .col{
          display: flex;
          flex-direction: row;
          img{
            width: 75px;
            height: 75px;
            margin-right: 20px;
          }
          .geo{
            width: fit-content;
            h5{
              margin: 0;
              padding: 0;
              font-weight: 600;
            }
            p{
              margin: 0;
              padding: 0;
              color: silver;
            }
            a{
              color: #0d6ab4;
              text-decoration: none;
            }
          }
        }


        div#otherlink{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}